*{margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body
{
	font-family: 'Roboto', sans-serif;
}

header
{
	width: 100%;
	height: 100vh;
	text-align: center;
	color: white;
    background: -webkit-linear-gradient(left, rgba(125,112,125,1) 0%, rgba(50,111,129,1) 47%, rgba(125,112,125,1) 100%);
    background: -o-linear-gradient(left, rgba(125,112,125,1) 0%, rgba(50,111,129,1) 47%, rgba(125,112,125,1) 100%);
    background: linear-gradient(to right, rgba(125,112,125,1) 0%, rgba(50,111,129,1) 47%, rgba(125,112,125,1) 100%);
}
nav
{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	font-size: 2em
}
nav i{
	margin-top: 100px;
}
header h1{text-transform: uppercase;
font-size: 72px; letter-spacing: 2px;
padding-top: 12%}
header p
{
	font-size: 20px; letter-spacing: 0.36px;
	line-height: 1.3em;padding-top: 20px
}

header button
{
	border: none;
	background: none;
	border: 2px solid white;
	padding: 0.8em 2.5em;
	border-radius: 40px;
	color: white;
	font-size: 16px;
	margin-top: 50px
}
header button:hover
{
	background: rgba(255,255,255,0.3);
	transition: 2s
}
.wrapper_about
{
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box{flex-basis: 50%}
.fl
{
	flex-basis: 40%
}
.wrapper_about img
{
	width: 50%;
	margin-top: 100px;
}
.box h3
{
	font-size: 18px;
	padding-bottom: 40px;	
}
.box p
{
	font-size: 16px;
	padding-bottom: 60px;
}
.wrapper_about button
{
	border: none;
	background: #ff2b4a;
	cursor: pointer;
	color: white;
	font-size: 16px;
	padding: 0.6em 2.8em;
	border: 2px solid transparent;
}

.wrapper_about button:hover
{
	border: 2px solid #ff2b4a;
	background: none;
	transition: 1s;
	color: #ff2b4a
}

@media screen and (max-width: 485px)
{
	nav i{
	margin-top: 40px;
		}
	header h1{text-transform: uppercase;
	font-size: 42px; letter-spacing: 2px;
	padding-top: 10%}
	header p
	{
		font-size: 14px; letter-spacing: 0.36px;
		line-height: 1.2em;padding-top: 20px;
		width: 80%;
		margin:auto;
	}
	.wrapper_about
	{
		flex-direction: column;
		/*margin-left: 20px;*/
	}
	.fl{display: none;}

	.box{
		padding: 10px}
		.box h3{padding-top: 20px}
	.box p{
		text-align: justify;
		font-size: 14px;
		padding-bottom: 30px;
	}
	
}